html, body, .body, .not-loading, .wrap {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden; }

.body {
  position: absolute;
  background-image: url("/img/text.svg");
  background-size: cover;
  background-position: center; }

.not-loading {
  position: absolute;
  background: white; }

.box {
  position: absolute;
  width: 180px;
  height: 120px;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  animation: box-animate 3s infinite; }

@keyframes box-animate {
  from {
    transform: translateZ(50px) translate(-50%, -50%) rotateX(-40deg) rotateY(-40deg) rotateX(0deg) translateZ(-50px); }
  30% {
    transform: translateZ(50px) translate(-50%, -50%) rotateX(-40deg) rotateY(320deg) rotateX(0deg) translateZ(-50px); }
  to {
    transform: translateZ(50px) translate(-50%, -50%) rotateX(-40deg) rotateY(320deg) rotateX(0deg) translateZ(-50px); } }
  .box > * {
    position: absolute;
    display: flex;
    flex-direction: column; }
    .box > * > * {
      flex: 1 1 0; }
  .box .black {
    background-color: black; }
  .box .red {
    background-color: red; }
  .box .blue {
    background-color: blue; }
  .box .white {
    background-color: white; }
  .box .top {
    width: 180px;
    height: 100px;
    top: 0;
    left: 0;
    transform: rotateX(90deg);
    transform-origin: top center;
    flex-direction: column-reverse; }
  .box .bottom {
    width: 180px;
    height: 100px;
    bottom: 0;
    left: 0;
    transform: rotateX(-90deg);
    transform-origin: bottom center;
    flex-direction: column; }
  .box .right {
    width: 100px;
    height: 120px;
    right: 0;
    top: 0;
    transform: rotateY(90deg);
    transform-origin: right 50%;
    flex-direction: row; }
  .box .left {
    width: 100px;
    height: 120px;
    left: 0;
    top: 0;
    transform: rotateY(-90deg);
    transform-origin: left 50%;
    flex-direction: row-reverse; }
  .box .front {
    width: 180px;
    height: 120px;
    left: 0;
    top: 0;
    transform: translateZ(100px); }
  .box .back {
    width: 180px;
    height: 120px;
    left: 0;
    top: 0;
    transform: translateZ(0); }

.name {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  font-family: BlinkMacSystemFont, "Segoe UI", Helvetica, Arial;
  top: calc(50% + 180px);
  left: 0; }

.dots .dot {
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.dots .dot:nth-child(1) {
  animation-name: dot-1-animate; }

@keyframes dot-1-animate {
  from {
    visibility: hidden; }
  25% {
    visibility: hidden; }
  to {
    visibility: visible; } }

.dots .dot:nth-child(2) {
  animation-name: dot-2-animate; }

@keyframes dot-2-animate {
  from {
    visibility: hidden; }
  50% {
    visibility: hidden; }
  to {
    visibility: visible; } }

.dots .dot:nth-child(3) {
  animation-name: dot-3-animate; }

@keyframes dot-3-animate {
  from {
    visibility: hidden; }
  75% {
    visibility: hidden; }
  to {
    visibility: visible; } }
